/*Headers*/

/*
Color Scheme
* Red #4C212A
* BLUE #01172F
* GREEN #00635D
LIGHT BLUE #08A4BD
PURPLE/BLUE #446DF6
*/

.text-underline {
  text-decoration: underline;
}

/* Styling Tabs in SnippetRecord */
.tab-options {
  margin-top: 10px;
}

.bordered-text {
  border: 1px solid black;
  padding: 5px;
  width:50%;
}

/* Top Header for Record */
.record-head {
  color: white;
  background-color: #4C212A;
  font-size: 20px;
  padding: 8px;
  margin: 0;
  border-radius: 4px;
}

/* Used in SnippetRecord to remove abnormal spacing for title */
.no-margin {
  margin: 0;
}

/* Search Input in Navigation Component */
.search-input {
  margin-right: 3px;
  max-width: 175px;
}

/* Record Styling Tab Content */
.tab-content {
  margin-top: 15px;
}

.mt-btn-container {
  margin-top: 15px;
}

.margin-right-btn {
  margin-right: 3px;
}

.snippet-form {
  max-width: 500px;
}

.login-button {
  max-width: 100px;
}

/* Needed to keep code spacing */
.maintain-spacing {
  white-space: pre;
}
