/*Headers*/
.title-underline {
  text-decoration: underline;
}

.bordered-text {
  border: 1px solid black;
  padding: 5px;
  width:50%;
}

.snippet-form {
  max-width: 500px;
}

.login-button {
  max-width: 100px;
}
